
@media (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand {
        color: #452412 ;
    }
    .navbar-dark.bg-dark .navbar-nav .nav-link, .navbar-dark.bg-dark .navbar-brand, .navbar-dark.bg-dark .navbar-brand:hover {
        color: #fff;
    }
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

.onboard {
    background-image: url(../assets/images/Millet-background.jpg);
    background-size: cover;
    width: 100%;
    display:table;
}
.onboardimg {
    background: url("../assets/images/millennovatree2nd_background.jpg") 100% 0 no-repeat;
    background-size: cover;
    height: 334px;
    width: 100%;
    padding: 128px;
}
section {
    padding: 25px 2%;
}
img{
    width: inherit;
}
.page-content img{
    width:100%;
    padding:2%;
}